
<body>
    {% extends 'base.html' %}
    {% block title %} Welcome to my blog {% endblock %}
    {% block headmessage %}
        <h3> Post list </h3>
    {% endblock %}
    {% block content %}

        {% for post in posts %}
            <a href="{% url 'post' post.slug %}">{{ post.title }}</a><br>
        {% empty %}
            <p> nothing </p>
        {% endfor %}

        {{ hour }}
        {% if hour > 18 %}
        <p>Good Evening</p>
        {% elif hour < 10 %}
        <p>Good morning</p>
        {% endif %}
    {% endblock %}
