
<body>
    {% extends 'base.html' %}
    {% block title %} Welcome to my blog {% endblock %}
    {% block headmessage %}
        <h3> Post list </h3>
    {% endblock %}
    {% block content %}

        {% for post in posts %}
            <a href="/post/{{ post.slug }}">{{ post.title }}</a><br>
        {% empty %}
            <p> nothing </p>
        {% endfor %}

        <ul>
        <li><a href="{%  url 'tv-url' 0 %}">Panzer II</a></li>
        <li><a href="{%  url 'tv-url' 1 %}">German Wiesel</a></li>
         </ul>


    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ tv.tvcode }}"
                frameborder="0" allowfullscreen>
        </iframe>
    </div>
    <p>the time is: {{ now }}</p>
    {% endblock %}
